#chess{

	width: 820px;

}
.whiteDiv{
	border: 1px solid #212121;
	width: 100px;
	height: 100px;
	  display: inline-block;
    float: left;
}
.blackDiv{
	border: 1px solid #212121;
	width: 100px;
	height: 100px;
	background-color: #555555;
	    display: inline-block;
    float: left;
}
